@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
/* font-family: 'Karla', sans-serif; */

:root{
    /* *Color */
    /* Primary Colors */
    --cyan: hsl(179, 62%, 43%);
    --bright-yellow: hsl(71, 73%, 54%);

    /* Neutral Colors */
    --light-gray: hsl(204, 43%, 93%);
    --grayish-blue: hsl(218, 22%, 67%);

    /* Font */
    font-family: 'Karla', sans-serif;
}

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--light-gray);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

ul{
    list-style-type: none;
    color: var(--grayish-blue);
    font-weight: 400;
}

a{
    text-decoration: none;
    color: #f6f6f6;
}

.container{
    width: 1440px;
    min-height: 95vh;
}

.seo-only{
    display: none;
}