/* *Container */
main.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* *Card */
main .card{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: .75fr 1fr;
    border-radius: 10px;
    box-shadow: 1px 5px 20px 2px rgb(194, 216, 228);
    width: 45%;
}

/* Card Header */
main .card .card-header{
    grid-area: 1 / 1 / span 1 / span 2;
    background-color: #fff;
    border-radius: 10px;
    padding: 2.5rem 2.5rem;
}
main .card .card-header h2{
    color: var(--cyan);
    margin-bottom: 1.5rem;
    letter-spacing: -0.3px;
}
main .card .card-header h3{
    font-size: 1.13rem;
    color: var(--bright-yellow);
    margin-bottom: 0.75rem;
    letter-spacing: -0.3px;
}
main .card .card-header p{
    color: var(--grayish-blue);
    line-height: 1.6;
}

/* Card Price */
main .card .card-price{
    background-color: var(--cyan);
    border-radius: 0 0 0 10px;
    padding: 2.5rem 2.5rem;
}
main .card .card-price h3{
    color: #fff;
}
main .card .card-price p:nth-child(2){
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.441);
    margin-top: 1rem;
}
main .card .card-price p span{
    color: rgb(255, 255, 255);
    font-size: 2rem;
    font-weight: 700;
    margin-right: .5rem;
}

main .card .card-price p:nth-child(3){
    color: var(--light-gray);
    margin-top: .5rem;
}
main .card .card-price a{
    display: block;
    text-align: center;
    background-color: var(--bright-yellow);
    padding: 1rem 2rem;
    font-weight: 700;
    border-radius: 5px;
    margin-top: 2rem;
}


/* Card Why Us */
main .card .card-why-us{
    background-color: hsla(179, 62%, 43%, 0.8);
    border-radius: 0 0 10px 0px;
    padding: 2.5rem 2.5rem;
}
main .card .card-why-us h3{
    color: var(--light-gray);
    margin-bottom: 1rem;
}
main .card .card-why-us li{
    font-weight: 400;
    color: var(--light-gray);
    margin-top: .375rem;
}